In [121]:
import pandas as pd

In [122]:
hof = 'Resources/basketball_hof.csv'
master = 'Resources/basketball_master.csv'
players = 'Resources/basketball_players.csv'

In [123]:
hof_df = pd.read_csv(hof, encoding="ISO-8859-1")

In [124]:
master_df = pd.read_csv(master, encoding="ISO-8859-1")

In [125]:
players_df = pd.read_csv(players, encoding="ISO-8859-1")

In [126]:
hof_df.head()

   year      hofID           name category
0  1959  mikange01   George Mikan   Player
1  1960  macaued01    Ed Macauley   Player
2  1960  woodejo01    John Wooden   Player
3  1961  phillan01   Andy Phillip   Player
4  1962  thompjo01  John Thompson   Player

In [127]:
master_df.head()

,bioID,Full Name,pos,MVP,height,weight,college,birthDate,deathDate,race
0,abdelal01,Alaa Abdelnaby,F-C,0,82.0,240.0,Duke,6/24/1968,0000-00-00,B
1,abdulka01,Kareem Abdul-Jabbar,C,6,85.0,225.0,UCLA,4/16/1947,0000-00-00,B
2,abdulma01,Mahdi Abdul-Rahman,G,0,74.0,185.0,UCLA,4/15/1942,11/18/2011,B
3,abdulma02,Mahmoud Abdul-Rauf,G,0,73.0,162.0,Louisiana State,3/9/1969,0000-00-00,B
4,abdulta01,Tariq Abdul-Wahad,G-F,0,78.0,223.0,San Jose State,11/3/1974,0000-00-00,B

In [128]:
players_df.head()

,playerID,year,stint,tmID,GP,GS,minutes,points,oRebounds,dRebounds,...,PostSteals,PostBlocks,PostTurnovers,PostPF,PostfgAttempted,PostfgMade,PostftAttempted,PostftMade,PostthreeAttempted,PostthreeMade
0,abramjo01,1946,1,PIT,47,0,0,527,0,0,...,0,0,0,0,0,0,0,0,0,0
1,aubucch01,1946,1,DTF,30,0,0,65,0,0,...,0,0,0,0,0,0,0,0,0,0
2,bakerno01,1946,1,CHS,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,baltihe01,1946,1,STB,58,0,0,138,0,0,...,0,0,0,3,10,2,1,0,0,0
4,barrjo01,1946,1,STB,58,0,0,295,0,0,...,0,0,0,0,0,0,0,0,0,0

In [129]:
players_year=players_df[['playerID','year']]

In [130]:
players_year['Starting Year'] = players_year.groupby('playerID')['year'].transform('min')

C:\Users\dcoar\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [131]:
players_year['Last Year'] = players_year.groupby('playerID')['year'].transform('max')

C:\Users\dcoar\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [132]:
players_year.to_csv("./Resources/players_year.csv", sep=',', index=False)

In [133]:
players_year.drop_duplicates(['playerID'], inplace=True)

C:\Users\dcoar\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [134]:
players_year.drop(['year'],axis=1, inplace=True)

In [135]:
players_group = players_df.groupby('playerID').sum().reset_index()

In [136]:
players_group.drop(['year'],axis=1, inplace=True)

In [137]:
players_group.head()

,playerID,stint,GP,GS,minutes,points,oRebounds,dRebounds,rebounds,assists,...,PostSteals,PostBlocks,PostTurnovers,PostPF,PostfgAttempted,PostfgMade,PostftAttempted,PostftMade,PostthreeAttempted,PostthreeMade
0,abdelal01,9,256,0,3200,1465,283,563,846,85,...,0,1,11,11,40,18,4,2,0,0
1,abdulka01,20,1560,0,57446,38387,2975,9394,17440,5660,...,189,476,447,787,4422,2356,1419,1050,4,0
2,abdulma01,12,724,0,19202,9087,18,39,2146,3555,...,0,0,0,176,649,268,202,149,0,0
3,abdulma02,9,586,0,15628,8553,219,868,1087,2079,...,7,1,22,37,187,69,45,43,49,14
4,abdulta01,10,236,0,4807,1830,286,490,776,266,...,4,4,4,14,63,24,24,20,3,0

In [138]:
players_group = pd.merge(players_group, players_year, how='left', on=['playerID'])

In [139]:
players_group.head()

,playerID,stint,GP,GS,minutes,points,oRebounds,dRebounds,rebounds,assists,...,PostTurnovers,PostPF,PostfgAttempted,PostfgMade,PostftAttempted,PostftMade,PostthreeAttempted,PostthreeMade,Starting Year,Last Year
0,abdelal01,9,256,0,3200,1465,283,563,846,85,...,11,11,40,18,4,2,0,0,1990,1994
1,abdulka01,20,1560,0,57446,38387,2975,9394,17440,5660,...,447,787,4422,2356,1419,1050,4,0,1969,1988
2,abdulma01,12,724,0,19202,9087,18,39,2146,3555,...,0,176,649,268,202,149,0,0,1964,1973
3,abdulma02,9,586,0,15628,8553,219,868,1087,2079,...,22,37,187,69,45,43,49,14,1990,2000
4,abdulta01,10,236,0,4807,1830,286,490,776,266,...,4,14,63,24,24,20,3,0,1997,2002

In [140]:
hof_df.rename(columns={'hofID':'playerID'}, inplace=True)

In [141]:
master_df.rename(columns={'bioID':'playerID'}, inplace=True)

In [142]:
master_df.head()

,playerID,Full Name,pos,MVP,height,weight,college,birthDate,deathDate,race
0,abdelal01,Alaa Abdelnaby,F-C,0,82.0,240.0,Duke,6/24/1968,0000-00-00,B
1,abdulka01,Kareem Abdul-Jabbar,C,6,85.0,225.0,UCLA,4/16/1947,0000-00-00,B
2,abdulma01,Mahdi Abdul-Rahman,G,0,74.0,185.0,UCLA,4/15/1942,11/18/2011,B
3,abdulma02,Mahmoud Abdul-Rauf,G,0,73.0,162.0,Louisiana State,3/9/1969,0000-00-00,B
4,abdulta01,Tariq Abdul-Wahad,G-F,0,78.0,223.0,San Jose State,11/3/1974,0000-00-00,B

In [143]:
merged_data = pd.merge(master_df, hof_df, how='left', on=['playerID'])

In [144]:
merged_data.head()

,playerID,Full Name,pos,MVP,height,weight,college,birthDate,deathDate,race,year,name,category
0,abdelal01,Alaa Abdelnaby,F-C,0,82.0,240.0,Duke,6/24/1968,0000-00-00,B,NaN,NaN,NaN
1,abdulka01,Kareem Abdul-Jabbar,C,6,85.0,225.0,UCLA,4/16/1947,0000-00-00,B,1995.0,Kareem Abdul-Jabbar,Player
2,abdulma01,Mahdi Abdul-Rahman,G,0,74.0,185.0,UCLA,4/15/1942,11/18/2011,B,NaN,NaN,NaN
3,abdulma02,Mahmoud Abdul-Rauf,G,0,73.0,162.0,Louisiana State,3/9/1969,0000-00-00,B,NaN,NaN,NaN
4,abdulta01,Tariq Abdul-Wahad,G-F,0,78.0,223.0,San Jose State,11/3/1974,0000-00-00,B,NaN,NaN,NaN

In [145]:
merged_data.dtypes

playerID      object
Full Name     object
pos           object
MVP            int64
height       float64
weight       float64
college       object
birthDate     object
deathDate     object
race          object
year         float64
name          object
category      object
dtype: object

In [146]:
combined_df = pd.merge(players_group, merged_data, how='left', on=['playerID'])

In [147]:
combined_df.head()

,playerID,stint,GP,GS,minutes,points,oRebounds,dRebounds,rebounds,assists,...,MVP,height,weight,college,birthDate,deathDate,race,year,name,category
0,abdelal01,9,256,0,3200,1465,283,563,846,85,...,0,82.0,240.0,Duke,6/24/1968,0000-00-00,B,NaN,NaN,NaN
1,abdulka01,20,1560,0,57446,38387,2975,9394,17440,5660,...,6,85.0,225.0,UCLA,4/16/1947,0000-00-00,B,1995.0,Kareem Abdul-Jabbar,Player
2,abdulma01,12,724,0,19202,9087,18,39,2146,3555,...,0,74.0,185.0,UCLA,4/15/1942,11/18/2011,B,NaN,NaN,NaN
3,abdulma02,9,586,0,15628,8553,219,868,1087,2079,...,0,73.0,162.0,Louisiana State,3/9/1969,0000-00-00,B,NaN,NaN,NaN
4,abdulta01,10,236,0,4807,1830,286,490,776,266,...,0,78.0,223.0,San Jose State,11/3/1974,0000-00-00,B,NaN,NaN,NaN

In [148]:
combined_df.drop(['name','category','stint'],axis=1, inplace=True)

In [149]:
combined_df['Total GP']=combined_df['GP'] + combined_df['PostGP']
combined_df['Total GS']=combined_df['GS'] + combined_df['PostGS']
combined_df['Total Minutes']=combined_df['minutes'] + combined_df['PostMinutes']
combined_df['Total Points']=combined_df['points'] + combined_df['PostPoints']
combined_df['Total Off. Rebounds']=combined_df['oRebounds'] + combined_df['PostoRebounds']
combined_df['Total Def. Rebounds']=combined_df['dRebounds'] + combined_df['PostdRebounds']
combined_df['Total Rebounds']=combined_df['rebounds'] + combined_df['PostRebounds']
combined_df['Total Assists']=combined_df['assists'] + combined_df['PostAssists']
combined_df['Total Steals']=combined_df['steals'] + combined_df['PostSteals']
combined_df['Total Blocks']=combined_df['blocks'] + combined_df['PostBlocks']
combined_df['Total Turnovers']=combined_df['turnovers'] + combined_df['PostTurnovers']
combined_df['Total PF']=combined_df['PF'] + combined_df['PostPF']
combined_df['Total FG Attempted']=combined_df['fgAttempted'] + combined_df['PostfgAttempted']
combined_df['Total FG Made']=combined_df['fgMade'] + combined_df['PostfgMade']
combined_df['Total FT Attempted']=combined_df['ftAttempted'] + combined_df['PostftAttempted']
combined_df['Total FT Made']=combined_df['ftMade'] + combined_df['PostftMade']
combined_df['Total Three Attempted']=combined_df['threeAttempted'] + combined_df['PostthreeAttempted']
combined_df['Total Three Made']=combined_df['threeMade'] + combined_df['PostthreeMade']

In [150]:
combined_df.drop(['GP','PostGP','GS','PostGS','minutes','PostMinutes','points','PostPoints','oRebounds','PostoRebounds','dRebounds','PostdRebounds','rebounds','PostRebounds','assists',
                 'PostAssists','steals','PostSteals','blocks','PostBlocks','turnovers','PostTurnovers','PF','PostPF','fgAttempted','PostfgAttempted','fgMade','PostfgMade','ftAttempted','PostftAttempted',
                  'ftMade','PostftMade','threeMade','PostthreeMade','threeAttempted','PostthreeAttempted'],axis=1, inplace=True)

In [151]:
combined_df['Total FG Points']=combined_df['Total FG Made'] * 2

In [152]:
combined_df['Total Three Made Points']=combined_df['Total Three Made'] * 3

In [153]:
combined_df['Total FG %']=combined_df['Total FG Made']/combined_df['Total FG Attempted']
combined_df['Total FT %']=combined_df['Total FT Made']/combined_df['Total FT Attempted']
combined_df['Total Three %']=combined_df['Total Three Made']/combined_df['Total Three Attempted']

In [154]:
combined_df.head()

,playerID,Starting Year,Last Year,Full Name,pos,MVP,height,weight,college,birthDate,...,Total FG Made,Total FT Attempted,Total FT Made,Total Three Attempted,Total Three Made,Total FG Points,Total Three Made Points,Total FG %,Total FT %,Total Three %
0,abdelal01,1990,1994,Alaa Abdelnaby,F-C,0,82.0,240.0,Duke,6/24/1968,...,638,325,227,3,0,1276,0,0.500000,0.698462,0.000000
1,abdulka01,1969,1988,Kareem Abdul-Jabbar,C,6,85.0,225.0,UCLA,4/16/1947,...,18193,10723,7762,22,1,36386,3,0.555868,0.723865,0.045455
2,abdulma01,1964,1973,Mahdi Abdul-Rahman,G,0,74.0,185.0,UCLA,4/15/1942,...,3865,2704,2042,0,0,7730,0,0.438656,0.755178,NaN
3,abdulma02,1990,2000,Mahmoud Abdul-Rauf,G,0,73.0,162.0,Louisiana State,3/9/1969,...,3583,1206,1094,1388,488,7166,1464,0.440713,0.907131,0.351585
4,abdulta01,1997,2002,Tariq Abdul-Wahad,G-F,0,78.0,223.0,San Jose State,11/3/1974,...,744,553,392,79,18,1488,54,0.415875,0.708861,0.227848

In [155]:
combined_df.rename(columns={'year':'Year Inducted'}, inplace=True)

In [156]:
combined_df['Years Played']=combined_df['Last Year'] - combined_df['Starting Year']+1

In [157]:
combined_df['GP per Year']=combined_df['Total GP']/combined_df['Years Played']

In [158]:
combined_df['Minutes per Game']=combined_df['Total Minutes'] / combined_df['Total GP']
combined_df['Points per Game']=combined_df['Total Points'] / combined_df['Total GP']
combined_df['O. Rebounds per Game']=combined_df['Total Off. Rebounds'] / combined_df['Total GP']
combined_df['D. Rebounds per Game']=combined_df['Total Def. Rebounds'] / combined_df['Total GP']
combined_df['Rebounds per Game']=combined_df['Total Rebounds'] / combined_df['Total GP']
combined_df['Assists per Game']=combined_df['Total Assists'] / combined_df['Total GP']
combined_df['Steals per Game']=combined_df['Total Steals'] / combined_df['Total GP']
combined_df['Blocks per Game']=combined_df['Total Blocks'] / combined_df['Total GP']
combined_df['Turnovers per Game']=combined_df['Total Turnovers'] / combined_df['Total GP']
combined_df['PF per Game']=combined_df['Total PF'] / combined_df['Total GP']

In [159]:
combined_df.dtypes

playerID                    object
Starting Year                int64
Last Year                    int64
Full Name                   object
pos                         object
MVP                          int64
height                     float64
weight                     float64
college                     object
birthDate                   object
deathDate                   object
race                        object
Year Inducted              float64
Total GP                     int64
Total GS                     int64
Total Minutes                int64
Total Points                 int64
Total Off. Rebounds          int64
Total Def. Rebounds          int64
Total Rebounds               int64
Total Assists                int64
Total Steals                 int64
Total Blocks                 int64
Total Turnovers              int64
Total PF                     int64
Total FG Attempted           int64
Total FG Made                int64
Total FT Attempted           int64
Total FT Made                int64
Total Three Attempted        int64
Total Three Made             int64
Total FG Points              int64
Total Three Made Points      int64
Total FG %                 float64
Total FT %                 float64
Total Three %              float64
Years Played                 int64
GP per Year                float64
Minutes per Game           float64
Points per Game            float64
O. Rebounds per Game       float64
D. Rebounds per Game       float64
Rebounds per Game          float64
Assists per Game           float64
Steals per Game            float64
Blocks per Game            float64
Turnovers per Game         float64
PF per Game                float64
dtype: object

In [160]:
combined_df.head()
# data=combined_df.drop(['playerID','Starting Year','Last Year','Full Name','pos','college','birthDate','deathDate','race','Total FG %','Total FT %','Total Three %','Total GS','Total FG Points',
#                 'Total Three Made Points','height','weight','Year Inducted','MVP'], axis=1)
# data.head()

,playerID,Starting Year,Last Year,Full Name,pos,MVP,height,weight,college,birthDate,...,Minutes per Game,Points per Game,O. Rebounds per Game,D. Rebounds per Game,Rebounds per Game,Assists per Game,Steals per Game,Blocks per Game,Turnovers per Game,PF per Game
0,abdelal01,1990,1994,Alaa Abdelnaby,F-C,0,82.0,240.0,Duke,6/24/1968,...,12.109890,5.505495,1.047619,2.124542,3.172161,0.322344,0.260073,0.260073,0.945055,1.813187
1,abdulka01,1969,1988,Kareem Abdul-Jabbar,C,6,85.0,225.0,UCLA,4/16/1947,...,36.893155,24.568169,1.936561,5.936004,11.085698,3.576516,0.750696,2.039510,1.654981,3.029494
2,abdulma01,1964,1973,Mahdi Abdul-Rahman,G,0,74.0,185.0,UCLA,4/15/1942,...,26.570332,12.496164,0.023018,0.049872,2.960358,4.855499,0.033248,0.007673,0.000000,2.817136
3,abdulma02,1990,2000,Mahmoud Abdul-Rauf,G,0,73.0,162.0,Louisiana State,3/9/1969,...,26.693844,14.555740,0.372712,1.474210,1.846922,3.517471,0.821963,0.078203,1.638935,1.901830
4,abdulta01,1997,2002,Tariq Abdul-Wahad,G-F,0,78.0,223.0,San Jose State,11/3/1974,...,20.020080,7.622490,1.216867,2.064257,3.281124,1.112450,0.755020,0.349398,1.257028,2.004016

In [161]:
# from sklearn.cluster import KMeans
# kmeans = KMeans(n_clusters=2)

In [162]:
# kmeans.fit(data)

In [163]:
# predicted_clusters = kmeans.predict(data)

In [164]:
# combined_df["Offensive Player"]=predicted_clusters

In [165]:
combined_df.to_csv("./Resources/bb_data_combined.csv", sep=',', index=False)

In [166]:
xtrain = combined_df.loc[combined_df['Year Inducted'].notnull()]
xtrain
# , ['Age','Fare', 'Group_Size','deck', 'Pclass', 'Title' ]]

,playerID,Starting Year,Last Year,Full Name,pos,MVP,height,weight,college,birthDate,...,Minutes per Game,Points per Game,O. Rebounds per Game,D. Rebounds per Game,Rebounds per Game,Assists per Game,Steals per Game,Blocks per Game,Turnovers per Game,PF per Game
1,abdulka01,1969,1988,Kareem Abdul-Jabbar,C,6,85.0,225.0,UCLA,4/16/1947,...,36.893155,24.568169,1.936561,5.936004,11.085698,3.576516,0.750696,2.039510,1.654981,3.029494
124,archina01,1970,1983,Nathaniel Archibald,G,0,73.0,150.0,UTEP,9/2/1948,...,35.537378,18.578548,0.388949,1.166847,2.300108,7.347779,0.815818,0.089924,1.348862,2.296858
130,arizipa01,1950,1961,Paul Joseph Arizin,F-G,0,74.0,190.0,Villanova,4/9/1928,...,35.055118,22.902887,0.000000,0.000000,8.573491,2.353018,0.000000,0.000000,0.000000,3.859580
213,barklch01,1984,1999,Charles Wade Barkley,F,1,77.0,250.0,Auburn,2/20/1963,...,36.938963,22.232441,3.988294,7.824415,11.812709,3.927258,1.539298,0.832776,3.117893,3.090301
241,barryri01,1965,1979,Richard Francis Dennis Barry,F,0,79.0,205.0,Miami (FL),3/28/1944,...,37.523556,25.021333,0.949333,3.399111,6.700444,4.807111,1.075556,0.273778,1.329778,3.002667
266,bayloel01,1958,1971,Elgin Gay Baylor,F,0,77.0,225.0,Seattle,9/16/1934,...,40.176531,27.318367,0.000000,0.000000,13.457143,4.276531,0.000000,0.000000,0.000000,3.092857
295,bellawa01,1961,1974,Walter Jones Bellamy,C,0,82.5,225.0,Indiana,7/24/1939,...,37.538108,20.010101,0.242424,0.441690,13.701561,2.460973,0.047750,0.044077,0.000000,3.393939
345,bingda01,1966,1977,David Bing,G,0,75.0,180.0,Syracuse,11/24/1943,...,36.194206,20.175966,0.467811,0.841202,3.760730,5.933476,0.534335,0.099785,0.231760,2.887339
349,birdla01,1979,1991,Larry Joe Bird,F-G,3,81.0,220.0,Indiana State,12/7/1956,...,38.952875,24.211122,1.995287,8.049010,10.044298,6.368520,1.745523,0.848256,3.131008,2.587182
459,bradlbi01,1967,1976,William Warren Bradley,F-G,0,77.0,205.0,Princeton,7/28/1943,...,31.015532,12.471924,0.250896,0.798088,3.210275,3.340502,0.260454,0.081243,0.000000,3.197133
720,cervial01,1937,1952,Alfred Nicholas Cervi,G-F,0,71.0,170.0,none,2/12/1917,...,2.840807,9.970852,0.000000,0.000000,0.681614,1.690583,0.000000,0.000000,0.000000,2.706278
726,chambwi01,1959,1972,Wilton Norman Chamberlain,C,4,85.0,250.0,Kansas,8/21/1936,...,45.990041,29.067220,0.000000,0.000000,23.101245,4.411618,0.000000,0.000000,0.000000,2.055602
862,cousybo01,1950,1969,Robert Joseph Cousy,G,1,73.0,175.0,Holy Cross,8/9/1928,...,33.196515,18.371733,0.000000,0.000000,5.161665,7.639884,0.000000,0.000000,0.000000,2.474347
864,cowenda01,1970,1982,David William Cowens,C-F,1,80.5,225.0,Florida State,10/25/1948,...,38.985965,17.777778,2.125146,6.778947,13.718129,3.792982,0.791813,0.636257,0.644444,3.880702
906,cunnibi01,1965,1975,William John Cunningham,F-C,1,77.0,195.0,North Carolina,6/3/1943,...,34.701456,21.081311,0.635922,2.245146,10.309466,4.243932,0.478155,0.080097,0.684466,3.705097
941,danieme01,1967,1976,Melvin Joe Daniels,C,2,81.0,220.0,New Mexico,7/20/1944,...,35.250000,18.287433,4.090909,9.506684,14.887701,1.748663,0.148396,0.510695,2.945187,3.665775
944,dantlad01,1976,1990,Adrian Delano Dantley,F-G,0,77.0,208.0,Notre Dame,2/26/1955,...,35.667315,24.061284,2.291829,3.398833,5.690661,2.917315,0.985409,0.151751,2.614786,2.663424
957,daviebo01,1945,1954,Robert Edris Davies,G-F,0,73.0,175.0,Seton Hall,1/15/1920,...,14.446541,13.638365,0.000000,0.000000,1.663522,3.792453,0.000000,0.000000,0.000000,3.106918
1013,debusda01,1962,1973,David Albert DeBusschere,F-G,0,78.0,220.0,Detroit,10/16/1940,...,35.925850,16.054583,0.163749,0.717817,11.094748,2.832132,0.076210,0.044284,0.000000,3.221421
1119,drexlcl01,1983,1997,Clyde Austin Drexler,G-F,0,79.0,210.0,Houston,6/22/1962,...,35.019496,20.437043,2.415922,3.830219,6.246141,5.699431,2.018684,0.671812,2.740861,3.063363
1139,dumarjo01,1985,1998,Joe Dumars,G,0,75.0,190.0,McNeese State,5/24/1963,...,34.722124,16.064602,0.677876,1.499115,2.176991,4.534513,0.878761,0.078761,2.025664,1.816814
1239,englial01,1976,1990,Alexander English,F,0,79.0,190.0,South Carolina,1/5/1954,...,32.109437,21.628866,2.334655,3.144330,5.478985,3.682791,0.883426,0.685964,2.349722,2.549564
1253,ervinju01,1971,1986,Julius Winfield Erving,F-G-C,4,78.0,200.0,Massachusetts,2/22/1950,...,36.717179,24.166201,2.921089,5.397346,8.474860,4.201816,1.787011,1.560056,3.154330,2.819832
1270,ewingpa01,1985,2001,Patrick Aloysius Ewing,C-F,0,84.0,240.0,Georgetown,8/5/1962,...,34.645234,20.898638,2.336611,7.528744,9.865356,1.883510,0.951589,2.418306,2.936460,3.446293
1400,fraziwa01,1967,1979,Walter Frazier,G,0,76.0,200.0,Southern Illinois,3/29/1945,...,38.037037,19.071895,0.465142,1.758170,5.986928,6.142702,0.776688,0.072985,0.151416,2.685185
1418,fulksjo01,1946,1953,Joseph Franklin Fulks,F-C,0,77.0,190.0,Murray State,10/26/1921,...,8.769231,16.521154,0.000000,0.000000,2.705769,1.150000,0.000000,0.000000,0.000000,3.642308
1440,gallaha01,1948,1957,Harry Junior Gallatin,F-C,0,78.0,210.0,NE Missouri State,4/26/1927,...,22.825737,12.883378,0.000000,0.000000,9.753351,1.753351,0.000000,0.000000,0.000000,3.111260
1501,gervige01,1972,1985,George Gervin,G-F,0,79.0,180.0,Eastern Michigan,4/27/1952,...,33.906469,25.190559,1.765734,3.637238,5.402972,2.655594,1.194930,0.986888,2.763112,3.097902
1525,gilmoar01,1971,1987,Artis Gilmore,C,1,86.0,240.0,Jacksonville,9/21/1948,...,35.524143,18.690693,3.617215,8.622813,12.314206,2.296711,0.495451,2.342197,2.960812,3.397481
1547,golato01,1955,1965,Thomas Joseph Gola,G-F,0,78.0,205.0,LaSalle,1/13/1933,...,32.563094,11.265943,0.000000,0.000000,7.880597,4.261872,0.000000,0.000000,0.000000,3.869742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3440,pollaji01,1947,1954,James Clifford Pollard,F-C-G,0,75.5,185.0,Stanford,7/9/1922,...,19.196891,13.164076,0.000000,0.000000,4.998273,2.894646,0.000000,0.000000,0.000000,2.585492
3534,ramsefr01,1954,1963,Frank Vernon Ramsey,F-G,0,75.0,185.0,Kentucky,7/13/1931,...,24.585298,13.466019,0.000000,0.000000,5.414702,1.782247,0.000000,0.000000,0.000000,3.495146
3570,reedwi01,1964,1973,Willis Reed,C-F,1,81.0,235.0,Grambling,6/25/1942,...,35.321429,18.600275,0.070055,0.153846,12.657967,1.833791,0.019231,0.028846,0.000000,3.689560
3631,risenar01,1945,1957,Arnold D. Risen,C-F,0,81.0,200.0,Ohio State,10/9/1924,...,16.462185,12.273709,0.000000,0.000000,6.689076,1.373349,0.000000,0.000000,0.000000,3.516206
3652,roberos01,1960,1973,Oscar Palmer Robertson,G-F,1,77.0,205.0,Cincinnati,11/24/1938,...,42.237123,25.417407,0.076377,0.219361,7.444050,9.463588,0.081705,0.007105,0.000000,2.840142
3665,robinda01,1989,2002,David Maurice Robinson,C,1,85.0,235.0,Navy,8/6/1965,...,34.677477,20.731532,3.108108,7.520721,10.628829,2.451351,1.386486,2.942342,2.429730,2.935135
3687,rodmade01,1986,1999,Dennis Keith Rodman,F,0,79.0,210.0,SE Oklahoma State,5/13/1961,...,31.137037,7.188889,4.587963,8.032407,12.620370,1.671296,0.663889,0.581481,1.612963,3.215741
3759,russebi01,1956,1968,William Felton Russell,C,5,81.0,215.0,San Francisco,2/12/1934,...,42.750887,15.243794,0.000000,0.000000,22.804965,4.317376,0.000000,0.000000,0.000000,2.773050
3770,sabonar01,1995,2002,Arvydas Romas Sabonis,C,0,87.0,279.0,none,12/19/1964,...,24.648752,11.988484,1.547025,5.773512,7.320537,2.036468,0.802303,1.040307,1.763916,2.811900
3785,sampsra01,1983,1991,Ralph Lee Sampson,C-F,0,88.0,228.0,Virginia,7/7/1960,...,30.157895,15.688259,2.627530,6.301619,8.929150,2.321862,0.860324,1.637652,3.008097,3.536437
3828,schaydo01,1948,1963,Adolph Schayes,F-C,0,79.0,195.0,NYU,5/19/1928,...,27.957831,18.261618,0.000000,0.000000,10.591222,2.864888,0.000000,0.000000,0.000000,3.459552
3923,sharmbi01,1950,1961,William Walton Sharman,G,0,73.0,175.0,USC,5/25/1926,...,30.584158,17.596535,0.000000,0.000000,3.845297,2.894802,0.000000,0.000000,0.000000,2.691832
4166,stockjo01,1984,2002,John Houston Stockton,G,0,73.0,170.0,Gonzaga,3/26/1962,...,32.124555,13.135824,0.669039,2.094306,2.763345,10.465599,2.137011,0.216489,2.823843,2.657770
4171,stokema01,1955,1957,Maurice Stokes,F-C,0,79.0,232.0,St. Francis (PA),6/17/1933,...,37.354680,16.389163,0.000000,0.000000,17.275862,5.241379,0.000000,0.000000,0.000000,3.901478
4299,thomais01,1981,1993,Isiah Lord Thomas,G,0,73.0,180.0,Indiana,4/30/1961,...,36.451376,19.342202,0.995413,2.676147,3.671560,9.218349,1.922018,0.263303,3.716514,3.058716
4321,thompda01,1975,1983,David O'Neil Thompson,G-F,0,76.0,195.0,North Carolina State,7/13/1954,...,33.045886,22.759494,1.643987,2.539557,4.183544,3.289557,1.004747,0.856013,2.360759,2.699367
4327,thompjo01,1964,1965,John R. Thompson,F,0,82.0,225.0,Providence,9/2/1941,...,10.037500,3.437500,0.000000,0.000000,3.450000,0.250000,0.000000,0.000000,0.000000,2.000000
4346,thurmna01,1963,1976,Nathaniel Thurmond,C-F,0,83.0,225.0,Bowling Green,7/25/1941,...,37.081340,14.739713,0.771292,1.885167,14.894737,2.679426,0.130144,0.577990,0.000000,2.765550
4422,twymaja01,1955,1965,John Kennedy Twyman,F-G,0,78.0,210.0,Cincinnati,5/11/1934,...,31.787631,19.207701,0.000000,0.000000,6.626604,2.243874,0.000000,0.000000,0.000000,3.399067
4433,unselwe01,1968,1980,Westley Sissel Unseld,C-F,1,79.0,245.0,Louisville,3/14/1946,...,36.918404,10.774252,2.167724,5.182230,14.094288,3.875793,0.630100,0.382593,0.587489,2.840435
4518,walkech01,1962,1974,Chester Walker,F-G,0,78.0,200.0,Bradley,2/22/1940,...,32.648197,18.247142,0.247142,0.596306,7.080915,2.056288,0.123131,0.010554,0.000000,2.649956
4546,waltobi01,1974,1986,William Theodore Walton,C-F,1,83.0,210.0,UCLA,11/5/1952,...,27.943907,13.042553,2.317215,8.063830,10.381044,3.355899,0.796905,2.160542,1.742747,2.798839
4550,wanzebo01,1947,1956,Robert Francis Wanzer,G,0,72.0,170.0,Seton Hall,6/4/1921,...,19.540335,11.736682,0.000000,0.000000,3.295282,2.989346,0.000000,0.000000,0.000000,2.185693
4634,westje01,1960,1973,Jerry Alan West,G-F,0,74.0,175.0,West Virginia,5/28/1938,...,39.531797,27.326267,0.027650,0.081106,5.733641,6.646083,0.074654,0.021198,0.000000,2.659908
4686,wilkeja01,1974,1985,Jamaal Abdul-Lateef Wilkes,F-G,0,78.0,190.0,UCLA,5/2/1953,...,33.022317,17.496281,1.995749,4.205101,6.200850,2.439957,1.260361,0.334750,1.441020,2.786397
4688,wilkele01,1960,1974,Leonard Randolph Wilkens,G,0,73.0,180.0,Providence,10/28/1937,...,35.466258,16.479404,0.103418,0.244522,4.735320,6.645925,0.152498,0.022787,0.000000,3.105171
4692,wilkido01,1982,1998,Jacques Dominique Wilkins,F-G,0,79.0,200.0,Georgia,1/12/1960,...,35.650442,24.859292,2.750442,3.925664,6.676106,2.495575,1.284071,0.599115,2.497345,1.932743
4825,woodejo01,1937,1938,John Robert Wooden,G,0,70.0,183.0,Purdue,10/14/1910,...,0.000000,9.880000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4840,worthja01,1982,1993,James Ager Worthy,F,0,81.0,225.0,North Carolina,2/27/1961,...,33.019645,18.093545,1.700655,3.402245,5.102900,3.043966,1.139383,0.673527,2.017774,2.176801
4865,yardlge01,1953,1961,George Harry Yardley,F-G,0,77.0,190.0,Stanford,11/3/1928,...,33.900552,19.296501,0.000000,0.000000,8.930018,1.826888,0.000000,0.000000,0.000000,3.064457

In [167]:
xtrain.to_csv("./Resources/hof_train_data.csv", sep=',', index=False)

In [168]:
non_hof_year = combined_df.loc[combined_df['Year Inducted'].isnull()]

In [169]:
non_hof_players = non_hof_year.loc[combined_df['Starting Year']>=1970]

In [170]:
non_hof_players.head()

,playerID,Starting Year,Last Year,Full Name,pos,MVP,height,weight,college,birthDate,...,Minutes per Game,Points per Game,O. Rebounds per Game,D. Rebounds per Game,Rebounds per Game,Assists per Game,Steals per Game,Blocks per Game,Turnovers per Game,PF per Game
0,abdelal01,1990,1994,Alaa Abdelnaby,F-C,0,82.0,240.0,Duke,6/24/1968,...,12.109890,5.505495,1.047619,2.124542,3.172161,0.322344,0.260073,0.260073,0.945055,1.813187
3,abdulma02,1990,2000,Mahmoud Abdul-Rauf,G,0,73.0,162.0,Louisiana State,3/9/1969,...,26.693844,14.555740,0.372712,1.474210,1.846922,3.517471,0.821963,0.078203,1.638935,1.901830
4,abdulta01,1997,2002,Tariq Abdul-Wahad,G-F,0,78.0,223.0,San Jose State,11/3/1974,...,20.020080,7.622490,1.216867,2.064257,3.281124,1.112450,0.755020,0.349398,1.257028,2.004016
6,abdursh01,1996,2007,Julius Shareef Abdur-Rahim,F,0,81.0,225.0,California,12/11/1976,...,34.697368,18.041866,2.245215,5.252392,7.497608,2.531100,0.983254,0.763158,2.568182,2.812201
7,abernto01,1976,1980,Thomas Craig Abernethy,F,0,79.0,220.0,Indiana,5/6/1954,...,17.048193,5.563253,1.168675,2.003012,3.171687,1.225904,0.578313,0.186747,0.388554,1.635542

In [171]:
non_hof_players.to_csv("./Resources/non_hof_players.csv", sep=',', index=False)